main {
    background: url("./assets/animal-crossing-bg.jpg") no-repeat;
    min-height: 100vh;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    font-family: "Rubik", sans-serif;
    font-weight: 400;
    font-style: normal;
}


.card-container {
    background: url("./assets/animal-crossing-wood-bg.png") no-repeat;
    height: 80vh;
    width: 412px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    border-radius: 1rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

h2 {
    font-size: 1rem;
    background-color: orange;
    color: black;
    position: absolute;
    padding: 0.5rem;
    transform: rotate(-30deg);
    left: 1.5rem;
    top: -1.2rem;
    border-radius: 1rem;
}

.villager-image {
    border-radius: 50%;
    background: white;
    padding: 20px;
    display: inline;
    position: absolute;
    top: -40px;
    left: 45%;
    border: 2px solid #89cff0;
    box-shadow: -5px -5px 10px rgba(0, 0, 0, 0.2);
}

.chat-bubble {
    height: auto;
    width: 100%;
}

.quote {
    position: relative;
    top: -79px;
    left: 0;
}

.chat-container {
  position: relative;
  margin-top: 3rem;
}

.info-block {
    display: flex;
    color: white;
    padding: 1rem;
    border-radius: 1rem;
    border-width: 3px;
    border-style: solid;
    width: 1;
}

.species-container {
    background-color: #ffa500;
    border-color: #ae7304;
}

.info-block span {
    background: white;
    color: black;
}

.personality-container {
    background-color: #107896;
    border-color: #0c5e75;
}

.hobby-container {
    background-color: #9a2617;
    border-color: #7f1d10;
}

.birthday-container {
    background-color: #829356;
    border-color: #5f6b40;
}

.species, .personality, .hobby, .birthday {
    background: white;
    border-radius: 1rem;
    padding: 0.5rem;
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.personal-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}